body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* Auto-fit for responsive columns */
    gap: 20px;
    padding: 20px;
}

section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin: 16px 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 1px 1px 10px;
}