table{
    border-collapse: collapse;
    border: 2px solid darkblue;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead th{
    background-color: rgb(189, 203, 209);
}

thead th:first-child {
    background-color: rgb(122, 192, 221);
    font-size: 1.5rem;
}

th{
    font-weight: bold;
}
th,td {
    border: 1px solid darkblue;
    padding: 8px 10px;
    text-align: center;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(240, 242, 244);
  }
